div {
  height: 100px;
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
div:hover {
  background-color: lightblue;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: #0af; /*Bleu*/
}
a:hover {
  color: orange;
  text-decoration: underline;
}
a:active {
  background-color: #0fa; /*Vert*/
}
